.tabsList {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

.tab {
    width: 100%;
    padding: 10px;
    color: #000;
    background-color: #ededed;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.tab:hover,
.tab:focus {
    background-color: #e4e4e4;
}